h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #ffd8e855;
    border-radius: 20px;
    position: relative;
    min-height: 400px;
    margin: 100px;
    overflow: visible;
}

.left_container {
    padding: 20px;
    display: flex;
    gap: 125px;
    
}

.bg-1 {
    background-color: #ffd8e8;
    width: 150px;  
    height: 150px;  
    border-radius: 40%;
    align-content: center;
}

.bg-2 {
    background-color: #ffd8e8;
    width: 150px;  
    height: 150px;  
    border-radius: 40%;
    align-content: center;
}

.bg-3 {
    background-color: #ffd8e8;
    width: 200px;  
    height: 150px;  
    border-radius: 40%;
    align-content: center;
}
.right_img {
    position: absolute;
    width: 500px;
    height: 630px;
    right: 0px;
    bottom: 0px;
    object-fit: cover;
}


li a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

li a:hover {
    color: #bdbdbd;
}

.navigation {
    font-size: 22px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    list-style-type: none;
    color:#ffa8d3;
}

body {
    padding: 10px;
    font-family: 'Literata', serif;
    font-weight: 400;
    font-optical-sizing: auto;
    background-image: url('./img/bg.jpg');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    background-attachment: fixed;
    animation: body 1s forwards; 
}

@keyframes body{
    from{opacity:0;}
    to{opacity:1;}
}

.aside_block {
    
}

.footer_block {
    list-style-type: none;
    color: black;
}

.new_block {
    display: flex;
    padding: 50px;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
}

.news1 {
    background-color: #ffa8d480;
    border-radius: 20px;
}

.news2 {
    background-color: #ffa8d480;
    border-radius: 20px;
}

.news3 {
    background-color: #ffa8d480;
    border-radius: 20px;
}

.link{
    color: #ff0080;
}

.link:visited {
    color: #860043;
}